#a{
    -fx-text-fill: #a21800;
    -fx-alignment: center-right;
}
#e{
    -fx-text-fill: #a2a00c;
    -fx-alignment: center-right;
}
#i{
    -fx-text-fill: #13a204;
    -fx-alignment: center-right;
}
#o{
    -fx-text-fill: #0a27a2;
    -fx-alignment: center-right;
}
#u{
    -fx-text-fill: #a2008b;
    -fx-alignment: center-right;
}
